header {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }

  .logo p {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
  }
  .item-nav {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .item-nav a {
    color: blue;
  }
  
  .item-nav a:hover {
    color: red;
  }
